<div>
	More Info: <a href="https://support.google.com/analytics/answer/1033863?hl=en">https://support.google.com/analytics/answer/1033863?hl=en</a>
</div>

<br>

<form method="POST" action="/qrcode">
	<div>
  	  URL:<input type="text" name="qr[url]" />
	</div>
	<div>
  	  utm_source:<input type="text" name="qr[utm_source]" />
	</div>
	<div>
  	  utm_medium:<input type="text" name="qr[utm_medium]" />
	</div>
	<div>
  	  utm_campaign:<input type="text" name="qr[utm_campaign]" />
	</div>
	<div>
  	  <input type="submit" />
	</div>
</form>